body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    background-color: #0d2838;
    display: flex;
    padding-bottom: 10em;
}

a {
    color: white;
    text-decoration: none;
}

.current {
    text-decoration: underline;
}

.feed {
    float: left;
    margin-left: 35vw;
    margin-top: 15vh;
    width: 26.5vw;
}

p {
    font-size: 110%;
}

h3 {
    font-style: italic;
    font-weight: 100;
    color: #d4d4d4;
}

h2 {
    padding-right: .5em;
    margin: 0;
}

.post {
    color: white;
    background-color: #081821;
    border-radius: 1em;
    padding: 1em 1em .7em 1em;
    content: "";
    clear: both;
    display: table;
    margin-top: 2em;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.28);
}

.post:hover {
    background-color: #081d29;
    transition: 0.2s;
    cursor: pointer;
}

#first {
    margin-top: 0;
}

.comment {
    color: white;
    background-color: #081821;
    border-radius: 1em;
    padding: 1em 1em .7em 1em;
    content: "";
    clear: both;
    display: table;
    margin-top: 1em;
    margin-left: 3vw;

    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.28);
}

.comment:hover {
    background-color: #081d29;
    transition: 0.2s;
    cursor: pointer;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    background-color: #0d2838;
    background: #0d2838;
    background: linear-gradient(180deg, rgba(13, 40, 56, 1) 0%, rgba(13, 40, 56, 1) 75%, rgba(13, 40, 56, 0) 100%);
    color: white;
    position: fixed;
    top: 0;
    height: 15vh;
    width: 100vw;
    padding-bottom: 2vh;
}

.header h1 {
    margin-left: 22.3vw;
    margin-bottom: 0em;
    margin-top: .4em;
}

.header p {
    margin-left: 22.3vw;
    font-size: 60%;
    margin-top: 0em;
}

.pfp {
    border-radius: 10em;
    width: 3.5em;
    height: 3.5em;
    align-self: auto;
    float: left;
}

.handle {
    font-size: 1em;
    margin: 0em;
}

.postText {
    margin: 0em;
    padding: .5em 0em 1em 0em;

}

.postbody {
    padding-left: 0em;
    margin-left: 4.2em;
}

.icon {
    width: 24px;
    float: left;
}

.interaction {
    width: 5.5vw;
    display: flex;
    justify-content: space-between;
}

.name {
    display: grid;;
}

.definition {
    position: fixed;
    display: flex;
    width: 14%;
    float: right;
    color: white;
    background-color: #081821;
    border-radius: 1em;
    padding: 1em 1em .7em 2em;
    content: "";
    clear: both;
    display: table;
    margin-top: 15vh;
    margin-left: 63vw;
    height: auto;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.28);
}

.navigation {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    position: fixed;
    width: 10%;
    color: white;
    background-color: #081821;
    border-radius: 1em;
    padding: 1em 1em .7em 1em;
    clear: both;
    display: table;
    margin-top: 15vh;
    height: auto;
    margin-left: 22.3vw;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.28);

}

.navigation h2 {
    padding-left: 1em;
    padding-bottom: .4em;
}

@media only screen and (max-width: 900px) {
    .header h1 {
        display: block;
        font-size: 1.6em;
        margin-top: auto;
        margin-bottom: auto;
    }
    .header {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .header p {
        visibility: hidden;
    }
    .feed {
        margin-left: 2vw;
        min-width: 89vw;
    }
    .comment {
        margin-left: 10vw;
    }
    .definition {
        visibility: hidden;
    }
    .navigation {
        visibility: hidden;
    }
    .username {
        float: right;
    }
    .handle {
        float: left;;
    }
    .interaction {
        width: 20vw;
    }
}
